body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:667px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u254 {
  position:absolute;
  left:2px;
  top:180px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_ann {
  position:absolute;
  left:660px;
  top:-4px;
  width:1px;
  height:1px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u255 {
  position:absolute;
  left:249px;
  top:103px;
  width:170px;
  height:170px;
}
#u256 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u257 {
  position:absolute;
  left:324px;
  top:178px;
  width:20px;
  height:20px;
}
#u258 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u259 {
  position:absolute;
  left:319px;
  top:224px;
  width:30px;
  height:30px;
}
#u260 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u261 {
  position:absolute;
  left:375px;
  top:178px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u262 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u263 {
  position:absolute;
  left:319px;
  top:129px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u264 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u265 {
  position:absolute;
  left:269px;
  top:178px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u266 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:375px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.858823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:600px;
  top:0px;
  width:67px;
  height:375px;
}
#u268 {
  position:absolute;
  left:2px;
  top:180px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u269 {
  position:absolute;
  left:614px;
  top:158px;
  width:40px;
  height:40px;
}
#u270 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u271 {
  position:absolute;
  left:624px;
  top:13px;
  width:20px;
  height:20px;
}
#u272 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u273 {
  position:absolute;
  left:624px;
  top:81px;
  width:20px;
  height:20px;
}
#u274 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u275 {
  position:absolute;
  left:622px;
  top:239px;
  width:25px;
  height:25px;
}
#u276 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u277 {
  position:absolute;
  left:624px;
  top:317px;
  width:25px;
  height:25px;
}
#u278 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:68px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u279 {
  position:absolute;
  left:173px;
  top:409px;
  width:322px;
  height:68px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u280 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
